/* Featured Books Slider */
.featured-books-slider {
  text-align: center;
  margin: 40px 0;
  position: relative;
}

.slider-container {
  position: relative;
  height: 450px; /* Adjust as needed */
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  height: 100%;
}

.slider-item {
  position: absolute;
  bottom: 0; /* Align all books to the bottom */
  transition: transform 1s ease, opacity 1s ease;
  text-align: center;
  width: 180px; /* Adjust book width as needed */
}

.slider-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.slider-item img.highlighted {
  box-shadow: 0 4px 13px rgba(123, 123, 123, 0.6); /* Subtle shadow for highlighted book */
}

/* Book Details */
.book-details {
  margin-top: 20px;
  text-align: center;
  width: 240px; /* Adjust the width to make it wider */
  max-width: 100%; /* Ensure it doesn't overflow */
  margin: 0 auto; /* Center align */
}

.book-details h3 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  text-overflow: ellipsis; /* Add ellipsis if the name is too long */
  white-space: nowrap; /* Prevent text wrapping for the name */
  overflow: hidden; /* Ensure long names don't break layout */
}

.book-details p {
  font-size: 14px;
  color: #666;
  margin: 0;
  display: -webkit-box; /* Enable multi-line truncation */
  -webkit-line-clamp: 3; /* Set the maximum number of lines */
  -webkit-box-orient: vertical; /* Required for line-clamp to work */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add "..." for overflowing text */
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #7c7c7c;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.slider-button:hover {
  background-color: #4f4f4f;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.line-separator {
  position: absolute;
  bottom: 67px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 900px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}