/* src/components/Profile.css */

.profile-page-container {
  display: flex;
  margin: 50px auto;
  max-width: 900px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
}

/* Left Section */
.profile-left {
  flex: 1;
  background-color: #333;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.profile-logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #ffefc5;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
}

.profile-initial {
  font-size: 64px;
  font-weight: bold;
  color: #ffcc00;
  text-transform: uppercase;
}

.profile-username {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.logout-button {
  background-color: #f5b800;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 14px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #f5b800;
}

/* Right Section */
.profile-right {
  flex: 2;
  padding: 30px;
  background-color: #fff;
}

.profile-title {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 20px;
  text-align: center;
}

.profile-form {
  display: flex;
  flex-direction: column;
}

.form-groups {
  margin-bottom: 15px;
}

.form-groups label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: #555;
}

.form-groups input {
  width: 95%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

input:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.request-otp-button,
.reset-password-button {
  margin-top: 10px;
  background-color: #f5b800;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

.request-otp-button:hover,
.reset-password-button:hover {
  background-color: #000000;
}

.status-message {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.status-message.success {
  color: #28a745;
}

.status-message.error {
  color: #d9534f;
}